extends ../layouts/page

include ../blocks/drum-kit/drum-kit
include ../blocks/page/page

block head
  title JS Drum Kit
  link(rel="stylesheet" href="assets/styles/main.css")

block body
  +page()
  +drum-kit()
  script(src="app.bundle.js")

