.page
  display flex
  font-size 20px
  font-family Georgia, 'Times New Roman', Times, serif
  background-image url('/assets/images/drum-kit__bg.jpg')
  background-color lightyellow
  margin 0
  padding 0
  align-items center
  justify-content center
  background-size cover
  height 100vh
